<footer id="myFooter">
    <div class="container">
        <app-instagram-carousel></app-instagram-carousel>
    </div>
    <div class="social-networks">
        <a href="https://twitter.com/nathanhaetty?lang=fr" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://fr-fr.facebook.com/nathanhaetty/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://fr.linkedin.com/in/nathan-haetty-42564463" target="_blank" class="instagram"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/nathanhaetty/?hl=fr" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="footer-copyright">
        <p>© {{currentYear}} Copyright</p>
    </div>
</footer>