<section class="d-flex align-items-center">
    <div id="story">
      <div id="big-logo">
      </div>
      <div id="story-text">
        <div id="story-top">
          <p>
            {{ story.p0 }}
          </p>
        </div>
        <br>
        <br>
        <div id="story-middle">
          <p style="font-size: 18px; display:inline-block">
            <b>{{ story.p1 }}</b>
          </p>
        </div>
        <br>
        <br>
        <div id="story-bottom">
          <p>
            {{ story.p2 }}
          </p>
        </div>
      </div>
    </div>
  </section>