<form>
  <h2>Ajouter une vidéo : </h2>
  <br>
  <div class="form-group">
    <label for="titleVideo">Titre</label>
    <input name="title" [(ngModel)]="video.title" type="text" class="form-control" id="titleVideo"
      aria-describedby="emailHelp" placeholder="Titre">
  </div>
  <div class="form-group">
    <label for="descriptionVideo">Description</label>
    <input name="description" [(ngModel)]="video.description" type="text" class="form-control" id="descriptionVideo"
      placeholder="Description">
  </div>
  <div class="form-group">
    <label for="descriptionVideo">Lien Youtube</label>
    <input name="path_youtube" [(ngModel)]="video.path_youtube" type="text" class="form-control" id="pathYoutubeVideo"
      placeholder="Veuillez coller l'url Youtube ici">
  </div>
  <button type="button" (click)="createVideo()" class="btn btn-primary">Ajouter</button>
</form>
<br>
<br>
<h2> Liste des vidéos : </h2>
<nb-card>
  <nb-card-header>
    Videos
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table (userRowSelect)="goToViewVideo($event)" [settings]="settings" [source]="videos"
      (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>