<body>
    <link rel="stylesheet" href="assets/frontend/css/styles.css">
    <section class="d-flex flex-column justify-content-between" id="hero" style="background-image: '../../../assets/frontend/img/nathan/nathan_background.jpg'">
        <div id="hero-top">
            <div id="big-logo">
            </div>
            <app-menu></app-menu>
        </div>
    </section>
    <router-outlet></router-outlet>

    <app-contact></app-contact>





    <script src="assets/frontend/js/jquery.min.js"></script>
    <script src="assets/frontend/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/frontend/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
</body>
