<body>
  <link rel="stylesheet" href="assets/frontend/css/styles.css">
  <section class="d-flex flex-column justify-content-between" id="hero"
    style="background-image: '../../../assets/frontend/img/nathan/nathan_background.jpg'">
    <div id="hero-top">
      <div id="big-logo">
      </div>
      <nav class="navbar navbar-light navbar-expand-md" id="menu-list">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mx-auto">
              <div id="horizontal-line"></div>
              <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Accueil</a>
              </li>
              <div id="horizontal-line"></div>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#story-section">Histoire</a></li>
              <div id="horizontal-line"></div>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#collection">Galerie</a>
              </li>
              <div id="horizontal-line"></div>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">Wallpaper </a></li>
              <div id="horizontal-line"></div>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">Contact </a></li>
              <div id="horizontal-line"></div>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </section>
  <section class="d-flex align-items-center">
    <div id="story">
      <div id="big-logo">
      </div>
      <div id="story-text">
        <div id="story-top">
          <p>
            C'est en 2004 que Nathan Haetty a la conviction que sa vie se fera autour de l'automobile. Depuis cet
            instant il n'aura de cesse d'observer les voitures sous tout les angles pour en capter l'émotion qu'elles
            dégagent. "Je considère que chaque voiture
            a une âme, de par son histoire et la facon dont ses volumes jouent avec les ombres et les lumières". Il
            décide de conjuger cet amour pour le design automobile avec son envie de surprendre pour proposer des
            créations uniques qui
            cassent les codes. A la sortie de chaque nouvelle réalisation il succite l'étonnement, avant que ses
            créations ne deviennent des références.
          </p>
        </div>
        <br>
        <br>
        <div id="story-middle">
          <p style="font-size: 18px; display:inline-block">
            <b>"J'habille les voitures, je vois mon travail comme de la haute-couture pour automobile". </b>
          </p>
        </div>
        <br>
        <br>
        <div id="story-bottom">
          <p>
            Sa force c'est de s'adapter aux projets pour que chacun puisse avoir le design qui lui correspond. De
            quelques bandes dessinés avec soin et précision à un design complet très coloré et dynamique. Pour se faire
            il puise son inspiration dans l'univers du
            street-art, du pop-art et de la mode en restant ouvert à tout ce qu'il peut voir et qui attire son oeil (une
            ambiance lumineuse dans la rue, une expo de photos...).
          </p>
        </div>
      </div>
    </div>
  </section>

  <script src="assets/frontend/js/jquery.min.js"></script>
  <script src="assets/frontend/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/frontend/js/bs-animation.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
  <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
</body>

<router-outlet></router-outlet>
