* {
  box-sizing: border-box;
}

#navcol-1 {
  margin: 0;
}

.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  padding: 25px !important;
}
.video-foreground,
.video-background iframe {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (max-width: 640px) {
    .video-background{
      background-image: url("../../../assets/frontend/img/nathan/home-page-mobile.jpg"); 
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    #video_iframe{
      display: none;
    }
  }

#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info {
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  color: #fff;
  font-family: Avenir, Helvetica, sans-serif;
  padding-top: 25px;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
@media all and (max-width: 600px) {
  .vid-info {
    padding: 0.5rem;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .vid-info h1 {
    margin-bottom: 0.2rem;
  }
}
@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}
