<body>
  <link rel="stylesheet" href="assets/frontend/css/styles.css">
  <section class="d-flex flex-column justify-content-between" id="hero"
    style="background-image: '../../../assets/frontend/img/nathan/nathan_background.jpg'">
    <div id="hero-top">
      <div id="big-logo">
      </div>
      <nav class="navbar navbar-light navbar-expand-md" id="menu-list">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mx-auto">
              <div id="horizontal-line"></div>
              <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Accueil</a>
              </li>
              <div id="horizontal-line"></div>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#story-section">Histoire</a></li>
              <div id="horizontal-line"></div>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#collection">Galerie</a>
              </li>
              <div id="horizontal-line"></div>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">Wallpaper </a></li>
              <div id="horizontal-line"></div>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">Contact </a></li>
              <div id="horizontal-line"></div>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </section>
  <app-story></app-story>
  <app-collection></app-collection>
  <app-contact></app-contact>





  <script src="assets/frontend/js/jquery.min.js"></script>
  <script src="assets/frontend/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/frontend/js/bs-animation.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
  <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
</body>

<router-outlet></router-outlet>
