a {
    color: #FFFFFF;
}

.col-6 {
    margin-bottom: 6%;
}

.card-text {
    font-size: 25px;
}

#big-logo {
    background-image: url("../img/nathan/nathan_logo_white.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    height: 115px;
}