<section class="d-flex align-items-center" id="videos">

    <div id="collection-div">
      <div id="big-logo">
      </div>
      <div id="collection-title">
        <h1>Collection de videos</h1>
      </div>
      <div id="horizontal-line"></div>
      <div class="row">
        <a [routerLink]="['/front/video/', video.videoId]" *ngFor="let video of videos">
          <div class="col-sm-6" >
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{video.title}}</h5>
                <h5 class="card-title">{{video.description}}</h5>
                <h5 class="card-title">{{video.path_youtube}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
              </div>
            </div>
          </div>
        </a>
  
      </div>
    </div>
  
  
  </section>
  