*


<div id="wallpaper_global">
    <div id="big-logo" onclick="location.href='/front/home'">
    </div>
    <div id="collection-title">
        <h1>Instagram</h1>
    </div>
    <div id="horizontal-line"></div>
    <!-- Header -->

    <!-- Photo Grid -->
    <div class="row" id="wallpaper_galerie">
        <div *ngFor="let image of images" class="col-sm-3">
            <img src="{{image.standard_resolution.url}}" style="width:100%">
            <!--<ngx-image-zoom [thumbImage]=image.thumbnail.url [fullImage]=image.standard_resolution.url [magnification]="1" [zoomMode]="'hover'"></ngx-image-zoom>-->
        </div>

    </div>
</div>
