<div id="contact-page">
    <a [routerLink]="['/front/home']"  >
      <div id="big-logo">
      </div>
    </a>
    <div class="container contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
            <h3>Contact</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" formControlName="fullname" name="fullname" class="form-control"
                            placeholder="Votre nom *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="email" name="email" class="form-control"
                            placeholder="Adresse email *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="phone" name="phone" class="form-control"
                            placeholder="Numéro de téléphone *" value="" />
                    </div>
                    <!-- <div class="form-group">
                        <input class="file" type="file" formControlName="pictures" (change)="onPicturesChange($event)" multiple
                            name="pictures" class="form-control" placeholder="Déposer des photos" value="" />
                    </div> -->
                    <!-- <div class="form-group">
                        <div class="input-group input-file">
                          <span class="input-group-btn">
                                <button class="btn btn-default btn-choose" type="button">Choisir</button>
                            </span>
                            <input formControlName="pictures" (change)="onPicturesChange($event)" multiple name="pictures" type="text" class="form-control" placeholder="Déposer des photos" />
                        </div>
                      </div> -->
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea formControlName="content" name="content" class="form-control"
                            placeholder="Votre message *" style="width: 100%; height: 150px;"></textarea>
                    </div>
                </div>
            </div>
            <div class="container text-center btn-m-t">
                <input type="submit" [disabled]="!contactForm.valid" name="btnSubmit" class="btnContact"
                    value="Envoyer" />
            </div>
        </form>
    </div>
</div>
<!-- <agm-map [latitude]="mapsConfig.lat" [zoom]="mapsConfig.zoom" [longitude]="mapsConfig.lng"></agm-map> -->
